doctype html
html(lang="#{language}")
   head
      title= pageTitle
      link(rel="stylesheet" href="assets/css/app.css")
   body
      #reactRoot!= pageContent

      script(src="assets/js/app.js")