doctype html
html(lang="#{language}")
   head
      title= pageTitle
      link(rel="stylesheet" href="assets/css/app.css")
   body
      #reactRoot!= content

      script.
         window.__serverState = !{state};
      script(src="assets/js/app.js")